.block-list {
    display: block;
    margin: 0px auto;
    text-align: center;
}
.block-list li {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0px 0px 10px 10px;
    border: 1px solid rgba(0,0,0,0.6);
    vertical-align: middle;
    text-align: center;
}