body {
    padding-top: 15px;
    position:absolute; !important;
    top:0; !important;
    right:0; !important;
    bottom:0; !important;
    left:0; !important;
}

html > body > div > div.container-fluid {
    overflow: hidden;
}
.fixed {
    overflow-y: scroll;
}
::-webkit-scrollbar-thumb {
    background-color:#555555;
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color:#555555;
    border:1px solid #333333;
}
::-webkit-scrollbar-thumb:active {
    background-color:#555555;
    border:1px solid #333333;
}
::-webkit-scrollbar {
    width: 6px;
}