<!DOCTYPE html>
<html lang="en" ng-app="Mindless">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="Renan Vedovato Traba" />
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/angular.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/angular-route.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/angular-sanitize.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/angular-blocks.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/mindless.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/brain.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/feed.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/auth.js') }}" type="text/javascript"></script>
    <!-- <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" /> -->
    <!-- <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet" /> -->
    <!-- <link href="{{ url_for('static', filename='css/bootstrap-darkly.min.css') }}" rel="stylesheet" /> -->
    <!-- <link href="{{ url_for('static', filename='css/bootstrap-slate.min.css') }}" rel="stylesheet" /> -->
    <!-- <link href="{{ url_for('static', filename='css/bootstrap-spacelab.min.css') }}" rel="stylesheet" /> -->
    <!-- <link href="{{ url_for('static', filename='css/bootstrap-cosmo.min.css') }}" rel="stylesheet" /> -->
    <!--  --><link href="{{ url_for('static', filename='css/bootstrap-cyborg.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/mindless.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/brain.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/feed.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/auth.css') }}" rel="stylesheet" />
    <title>Mindless</title>
    <script type="text/ng-template" id="/navbar.html">{% include "navbar.html" %}</script>
    <script type="text/ng-template" id="/body.html">{% include "body.html" %}</script>
    <script type="text/ng-template" id="/home.html">{% include "home.html" %}</script>
    <script type="text/ng-template" id="/brain/data_detail.html">{% include "brain/data_detail.html" %}</script>
    <script type="text/ng-template" id="/brain/data_add.html">{% include "brain/data_add.html" %}</script>
    <script type="text/ng-template" id="/brain/data_list.html">{% include "brain/data_list.html" %}</script>
    <script type="text/ng-template" id="/feed/post_list.html">{% include "feed/post_list.html" %}</script>
    <script type="text/ng-template" id="/auth/user_login.html">{% include "auth/user_login.html" %}</script>
    <script type="text/ng-template" id="/auth/user_detail.html">{% include "auth/user_detail.html" %}</script>
    <script type="text/ng-template" id="/auth/user_add.html">{% include "auth/user_add.html" %}</script>
  </head>
  <body ng-view ng-keypress="keyPress($event)"></body>
</html>
