<div data-block="modal"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div data-block="breadcrumb">
        <ul class="breadcrumb">
          <li><a href="/#!/home/">Home</a></li>
          <li ng-repeat="breadcrumb in breadcrumb_path" ng-class="{active: $last}">
            <a ng-hide="$last" ng-href="((breadcrumb.url))">(( breadcrumb.name ))</a>
            <span ng-show="$last">(( breadcrumb.name ))</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2" role="navigation"><div data-block="sidebar"></div></div>
    <div class="col-lg-10"><div data-block="content"></div></div>
  </div>
</div>
