<div data-extend-template="/body.html">
  <div data-block="breadcrumb">
    <ul class="breadcrumb">
      <li class="active">Home</li>
    </ul>
  </div>

  <div data-block="sidebar">
    <div class="panel-group fixed">
      <div class="panel panel-primary">
        <div class="panel-heading">Actions</div>
        <div class="list-group">
          <a class="list-group-item" href="/#!/brain/data/add">Add new Brain Data</a>
          <a class="list-group-item" href="/#!/feed/website/add">Add new Feed Website</a>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">Modules</div>
        <div class="list-group">
          <a class="list-group-item" href="/#!/brain/">Brain</a>
          <a class="list-group-item" href="/#!/feed/">Feed</a>
        </div>
      </div>
    </div>
  </div>

  <div data-block="content">
  </div>
</div>
