<div data-extend-template="/body.html">
  <div data-block="sidebar">
    <div class="panel-group fixed">
      <div class="panel panel-primary">
        <div class="panel-heading">Actions</div>
        <div class="list-group">
          <a class="list-group-item" href="/#!/brain/data/add/">Add new Data</a>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">Tags</div>
        <div class="list-group">
          <a class="list-group-item" ng-class="{active: !(filter.indexOf(tag) == -1)}" href="" ng-repeat="tag in tag_list" ng-click="toggleFilter(tag)">(( tag ))</a>
        </div>
      </div>
    </div>
  </div>

  <div data-block="content">
    <div class="panel-group fixed" data-ng-init="loadData()" when-scrolled="loadData()">
      <div class="panel panel-primary">
        <div class="panel-heading"><h1 class="panel-title">Content</h1></div>
        <div class="panel-body">
          <ul class="nav nav-list block-list">
            <li ng-repeat="data in data_list">
              <h4>
                <a ng-href="/#!/brain/data/detail/?slug=(( data.slug ))">
                  (( data.name ))
                </a>
              </h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
