<div data-extend-template="/body.html">
  <div data-block="sidebar">
    <div class="panel-group fixed">
      <div class="panel panel-primary">
        <div class="panel-heading">Actions</div>
        <div class="list-group">
          <a class="list-group-item" href="/#!/brain/data/add/">Add new Data</a>
          <a class="list-group-item" href="" ng-click="edit=!edit">Edit</a>
          <a class="list-group-item alert-open" href="">Delete</a>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">Tags</div>
        <div class="list-group">
          <a class="list-group-item" ng-repeat="tag in tag_list" ng-href="/#!/brain/data/list/?filter=(( tag ))">(( tag ))</a>
        </div>
      </div>
    </div>
  </div>

  <div data-block="content">
    <div class="panel-group fixed">
      <div class="panel panel-primary" data-ng-init="loadData()">
        <div class="panel-heading"><h1 class="panel-title">Content</h1></div>
        <div class="panel-body">
          <div class="alert alert-danger fade in">
            <button type="button" class="close alert-close" aria-hidden="true">x</button>
            <h4 class="modal-title">Delete (( data.name )) ?</h4>
            <p>Are you sure about deleting (( data.name )), delete irreversible ?</p>
            <p>
              <button type="button" class="btn btn-danger alert-close" ng-click="deleteData()">Delete</button>
              <button type="button" class="btn btn-default alert-close">Cancel</button>
            </p>
          </div>
          <div ng-hide="edit">
            <h4>(( data.name ))</h4>
            <h3>(( data.data ))</h3>
          </div>
          <div ng-show="edit">
            <form role="form" ng-submit="saveData()">
              <div class="form-group">
                <label for="form-data-name" ng-show="edit">Title</label>
                <input class="form-control" id="form-data-name" type="text" ng-show="edit" ng-model="data.name" />
              </div>
              <div class="form-group">
                <label for="form-data-data" ng-show="edit">Data</label>
                <textarea class="form-control" id="form-data-data" ng-show="edit" ng-model="data.data"></textarea>
              </div>
              <div class="form-group">
                <label for="form-data-tags" ng-show="edit">Tags</label>
                <textarea class="form-control" id="form-data-tags" ng-show="edit" ng-model="data.tags"></textarea>
              </div>
            </form>
            <button type="button" class="btn btn-default" ng-show="edit" ng-click="resetData()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-show="edit" ng-click="saveData()">Save</button>
          </div>
        </div>
      </div>
    </div>
    <script>
     $(function() {
       $(document).on('click', '.alert-close', function() {
         $('.alert').hide();
       })
     });
     $(function() {
       $(document).on('click', '.alert-open', function() {
         $('.alert').show();
       })
     });
     $('.alert').hide();
    </script>
  </div>
</div>
