<div data-extend-template="/body.html">
  <div data-block="content">
    <div class="panel panel-primary">
      <div class="panel-heading"><h1 class="panel-title">New Data</h1></div>
      <div class="panel-body">
        <form role="form" ng-submit="addData()">
          <div class="form-group">
            <label for="form-data-name">Title</label>
            <input class="form-control" id="form-data-name" type="text" ng-model="new_data.name" />
          </div>
          <div class="form-group">
            <label for="form-data-data">Data</label>
            <textarea class="form-control" id="form-data-data" ng-model="new_data.data"></textarea>
          </div>
          <div class="form-group">
            <label for="form-data-tags">Tags</label>
            <textarea class="form-control" id="form-data-tags" ng-model="new_data.tags"></textarea>
          </div>
        </form>
        <a type="button" class="btn btn-default" ng-href="/#/brain/data/list/">Cancel</a>
        <button type="button" class="btn btn-primary" ng-click="addData()">Save</button>
      </div>
    </div>
  </div>
</div>
