<div data-extend-template="/body.html">
  <div data-block="sidebar">
    <div id="cat_list" class="panel-group fixed">
      <div class="panel panel-primary">
        <div class="panel-heading">Filters</div>
        <div class="list-group">
          <a class="list-group-item" ng-click="setGlobalFilter({was_read: false}); loadFilter(); setIndex(-1)" ng-hide="scope_filter['was_read'] == false">Hide Read Posts</a>
          <a class="list-group-item" ng-click="setGlobalFilter({}); loadFilter(); setIndex(-1)" ng-show="scope_filter['was_read'] == false">unHide Read Posts</a>
          <a class="list-group-item" ng-click="setGlobalFilter({}); ScopeFilter({}); loadFilter(); setIndex(-1)">All Posts</a>
        </div>
      </div>
      <div class="panel panel-primary" ng-repeat="item in menu">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-plus websites-collapse" data-toggle="collapse" data-parent="#cat_list" ng-href="#cat_(( item.title ))_subitems"></span>
          <span ng-click="setScopeFilter(item.filter); loadFilter(); setIndex(-1)">
            (( item.title ))
          </span>
        </div>
        <div id="cat_(( item.title ))_subitems" class="panel-collapse collapse">
          <section ng-repeat="subitem in item.websites">
            <a class="list-group-item" ng-class="{active: scope_filter == subitem.filter}" ng-click="setScopeFilter(subitem.filter); loadFilter(); setIndex(-1)">(( subitem.title ))</a>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div data-block="content">
    <div class="panel-group fixed" id="post_list" data-ng-init="loadPosts()" when-scrolled="loadPosts()">
      <div class="panel panel-default" ng-repeat="post in posts">
        <a href="">
          <div class="panel-heading" id="header_(( post.id ))" ng-click="gotoPost(post.id);setIndex($index)">
            <h4 class="panel-title">
              (( post.title ))
            </h4>
          </div>
        </a>
        <div id="post_(( post.id ))" class="panel-collapse collapse">
          <div class="panel-body">
            <div ng-bind-html="post.content ? post.content : post.summary"></div>
            <div class="text-right">
              <button class="btn btn-default" ng-click="">Read Post</button>
              <button class="btn btn-default" ng-hide="post.starred" ng-click="setPostStatus(post, {starred: true})">Mark Starred</button>
              <button class="btn btn-default" ng-show="post.starred" ng-click="setPostStatus(post, {starred: false})">Mark unStarred</button>
              <button class="btn btn-default" ng-hide="post.was_read" ng-click="setPostStatus(post, {was_read: true})">Mark Read</button>
              <button class="btn btn-default" ng-show="post.was_read" ng-click="setPostStatus(post, {was_read: false})">Mark unRead</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
