<div data-extend-template="/body.html">
  <div data-block="content">
    <div class="panel-group fixed">
      <div class="panel panel-primary">
        <div class="panel-heading"><h1 class="panel-title">Login</h1></div>
        <div class="panel-body">
          <form class="" name="login_form" ng-submit="createUser()">
            <div class="form-group">
              <label for="username" class="control-label">Username:</label>
              <input type="text" class="form-control" placeholder="Username" name="username" ng-model="userdata.username" ng-required="true" ng-minlength="4">
              <span ng-show="submit && login_form.username.$error.required">required</span>
              <span ng-show="submit && login_form.username.$error.minlength">too short</span>
            </div>
            <div class="form-group">
              <label for="password" class="control-label">Password:</label>
              <input type="password" class="form-control" placeholder="Password" name="password" ng-model="userdata.password" ng-required="true" ng-minlength="8" />
              <span ng-show="submit && login_form.password.$error.required">required</span>
              <span ng-show="submit && login_form.password.$error.minlength">too short</span>
            </div>
            <div class="form-group">
              <label for="name" class="control-label">Name:</label>
              <input type="name" class="form-control" placeholder="Name" name="name" ng-model="userdata.name" ng-required="true" ng-minlength="8" />
              <span ng-show="submit && login_form.name.$error.required">required</span>
              <span ng-show="submit && login_form.name.$error.minlength">too short</span>
            </div>
            <div class="form-group">
              <label for="email" class="control-label">Email:</label>
              <input type="email" class="form-control" placeholder="Email" name="email" ng-model="userdata.email" ng-required="true" ng-minlength="8" />
              <span ng-show="submit && login_form.email.$error.required">required</span>
              <span ng-show="submit && login_form.email.$error.minlength">too short</span>
            </div>
            <div class="form-group">
              <button class="btn btn-default" ng-click="createUser()">Create User</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
