<div data-extend-template="/body.html">
  <div data-block="content">
    <div class="panel-group fixed">
      <div class="panel panel-primary">
        <div class="panel-heading"><h1 class="panel-title">Login</h1></div>
        <div class="panel-body">
          <form class="form-horizontal" name="login_form" ng-submit="submit=true;Login()">
            <div class="form-group">
              <label for="username" class="col-sm-2 control-label">Username:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Username" name="username" ng-model="userdata.username" ng-required="true" ng-minlength="4">
                <span ng-show="submit && login_form.username.$error.required">required</span>
                <span ng-show="submit && login_form.username.$error.minlength">too short</span>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-sm-2 control-label">Password:</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" placeholder="Password" name="password" ng-model="userdata.password" ng-required="true" ng-minlength="8" />
                <span ng-show="submit && login_form.password.$error.required">required</span>
                <span ng-show="submit && login_form.password.$error.minlength">too short</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="userdata.remember"> Remember me
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" ng-click="submit=true;Login()">Sign in</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
