<div data-extend-template="/body.html">
  <div data-block="content">
    <div class="panel-group fixed">
      <div class="panel panel-primary" data-ng-init="loadUser()">
        <div class="panel-heading"><h1 class="panel-title">(( userdata.name ))'s Profile </h1></div>
        <div class="panel-body"></div>
      </div>
    </div>
  </div>
</div>
